html, body, div, span, applet, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font: inherit;
  vertical-align: middle; }

*,
*::before,
*::after {
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Lato';
  src: url("../../fonts/Lato-Regular.ttf") format("ttf"), url("../../fonts/Lato-Bold.ttf") format("ttf"), url("../../fonts/Lato-Italic.ttf") format("ttf"), url("../../fonts/Lato-Light.ttf") format("ttf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Myriad-Pro';
  src: url("../../fonts/MyriadPro-Regular.woff") format("woff"), url("../../fonts/MyriadPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0; }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1; } }

@font-face {
  font-family: 'iconfont';
  src: url("../fonts/iconfont.eot?1598846779179");
  src: url("../fonts/iconfont.eot?#iefix-1598846779179") format("embedded-opentype"), url("../fonts/iconfont.woff2?1598846779179") format("woff2"), url("../fonts/iconfont.woff?1598846779179") format("woff"), url("../fonts/iconfont.ttf?1598846779179") format("truetype");
  font-weight: normal;
  font-style: normal; }

[class^='icon-']:before,
[class*=' icon-']:before {
  font-family: 'iconfont';
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak-as: none;
  text-decoration: inherit;
  font-size: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*
   Glyphs list
   */
.icon-bicycle:before {
  content: '\ea01'; }

.icon-dry-clean:before {
  content: '\ea02'; }

.icon-empty:before {
  content: '\ea03'; }

.icon-facebook:before {
  content: '\ea04'; }

.icon-pinterest:before {
  content: '\ea05'; }

.icon-twitter:before {
  content: '\ea06'; }

.icon-twitter1:before {
  content: '\ea07'; }

.wrapper {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px; }

@media only screen and (max-width: 767px) {
  .wrapper {
    max-width: 768px;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px; } }

@media only screen and (max-width: 589px) {
  .wrapper {
    max-width: 668px;
    padding-left: 30px;
    padding-right: 30px; } }

@media only screen and (max-width: 319px) {
  .wrapper {
    max-width: 320px;
    padding-left: 20px;
    padding-right: 20px; } }

.link {
  text-decoration: none;
  color: #4d4959;
  cursor: pointer; }
  .link:hover {
    opacity: 0.5; }

.hero {
  position: relative;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 42%; }

@media only screen and (max-width: 767px) {
  .hero {
    padding-bottom: 80.9%;
    background-size: cover; } }

@media only screen and (max-width: 589px) {
  .hero {
    position: relative; } }

@media only screen and (max-width: 319px) {
  .hero {
    background-size: cover; } }

.header {
  position: absolute;
  width: 100%;
  top: 10px;
  z-index: 1;
  text-align: center; }

.nav {
  display: inline-block;
  padding-top: 55px;
  padding-bottom: 55px; }
  .nav::before, .nav::after {
    content: '';
    display: table; }
  .nav::after {
    clear: both; }

.nav__list::before, .nav__list::after {
  content: '';
  display: table; }

.nav__list::after {
  clear: both; }

.nav__item {
  float: left; }
  .nav__item:not(:nth-child(2)):not(:nth-child(3)):not(:last-child)::after {
    content: ".";
    padding-left: 30px;
    padding-right: 30px; }

.nav__logo {
  margin: 0 60px; }

.logo__img {
  margin-top: -30px; }

.nav__list {
  list-style: none; }

.nav__link {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #4d4959;
  cursor: pointer; }
  .nav__link:hover {
    opacity: 0.5; }
  .nav__link:active {
    color: black; }

@media only screen and (max-width: 991px) {
  .nav__link {
    font-size: 15px; }
  .nav__logo {
    margin: 0 30px; }
  .nav__item:not(:nth-child(2)):not(:nth-child(3)):not(:last-child)::after {
    content: ".";
    padding-left: 20px;
    padding-right: 20px; } }

@media only screen and (max-width: 589px) {
  .nav__item:not(:nth-child(2)):not(:nth-child(3)):not(:last-child)::after {
    content: "";
    padding: 0; }
  .nav__item:not(:nth-child(3)) {
    display: none; }
  .logo__img {
    position: absolute;
    top: 30px;
    left: 10px;
    width: 80px; }
  .swing-in-top-fwd {
    -webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both; }
  .show-menu {
    width: 100%;
    position: absolute;
    top: -10px;
    left: 0;
    height: 100vh;
    display: block;
    text-align: center;
    background-color: #ffffff;
    z-index: 50; }
    .show-menu .nav__logo {
      display: none; }
    .show-menu .nav__item:not(:nth-child(3)) {
      display: block;
      width: 100%;
      margin-bottom: 20px; }
  .header__hamburger {
    display: block;
    float: right;
    border: none;
    margin-top: 20px;
    position: relative;
    outline: none;
    background-color: transparent; }
  .hamburger__line {
    display: block;
    width: 40px;
    height: 2px;
    margin-bottom: 4px;
    background-color: #64c29e; }
  .show-btn {
    z-index: 100; }
    .show-btn .hamburger__line:nth-child(2) {
      display: none; }
    .show-btn .hamburger__line:first-child {
      transform: rotate(135deg);
      position: absolute;
      top: 10px;
      right: 10px; }
    .show-btn .hamburger__line:last-child {
      transform: rotate(-135deg);
      position: absolute;
      top: 10px;
      right: 10px; } }

@media only screen and (max-width: 319px) {
  .header .wrapper {
    position: relative; }
  .nav__item {
    display: block;
    margin-bottom: 15px;
    width: 100%; }
    .nav__item::before, .nav__item::after {
      content: '';
      display: table; }
    .nav__item::after {
      clear: both; }
    .nav__item:not(:nth-child(2)):not(:nth-child(3)):not(:last-child)::after {
      content: ""; }
  .nav {
    text-align: center; }
  .logo__img {
    position: absolute;
    top: 33px;
    left: 20px;
    width: 50px; } }

.text-block {
  font-family: "Lato", sans-serif;
  text-align: center;
  padding-top: 115px;
  padding-bottom: 135px; }

.icon--center {
  margin-bottom: 25px;
  width: 10%;
  display: inline-block; }

.text-block__heading {
  display: block;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 3px;
  margin-bottom: 30px; }

.text-block__paragraph {
  line-height: 2;
  padding-left: 30px;
  padding-right: 30px; }

@media only screen and (max-width: 767px) {
  .text-block {
    padding-bottom: 170px;
    padding-bottom: 140px; } }

@media only screen and (max-width: 319px) {
  .text-block {
    padding-top: 25px;
    padding-bottom: 15px; }
  .text-block__heading {
    line-height: 1.4;
    margin-bottom: 20px; }
  .text-block__paragraph {
    line-height: 1.5; } }

.tiles {
  width: 100%; }
  .tiles::before, .tiles::after {
    content: '';
    display: table; }
  .tiles::after {
    clear: both; }

.row {
  display: flex; }
  .row::before, .row::after {
    content: '';
    display: table; }
  .row::after {
    clear: both; }

.bigger-div {
  flex: 2;
  position: relative; }

.smaller-div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.article1 {
  font-family: "Lato", sans-serif;
  text-align: center;
  float: left;
  height: inherit;
  padding-top: 65px;
  width: 100%; }

.article2 {
  font-family: "Lato", sans-serif;
  text-align: center;
  float: left;
  height: inherit;
  padding-top: 65px;
  height: 100%; }

.tile1-div1 {
  width: 100%;
  float: left; }

.tile1__img1, .tile2__img1 {
  padding-bottom: 56.23%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.tile1-div2 {
  width: 100%; }

.tile1__img2 {
  padding-bottom: 37.52%;
  background-size: cover;
  background-repeat: no-repeat; }

.tile1__logo, .tile2__logo, .tile3__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.tile2-div1 {
  width: 100%;
  float: left; }

.tile3 {
  width: 33.33%;
  float: left; }
  .tile3:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

.tile3__img1, .tile3__img3 {
  padding-bottom: 112.36%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

@media only screen and (max-width: 767px) {
  .tiles {
    height: 1800px; }
  .tile1-div1, .tile2-div1 {
    width: 50%; }
  .article1 {
    width: 50%; }
  .tile1__img1, .tile2__img1 {
    padding-bottom: 156.25%; } }

@media only screen and (max-width: 319px) {
  .tiles {
    height: 1870px; } }

.twitter {
  padding-top: 125px;
  padding-bottom: 70px;
  text-align: center;
  font-family: "Lato", sans-serif; }

.icon-twitter {
  color: #78cdf0;
  font-size: 35px; }

.twitter__heading {
  font-size: 20px;
  display: block;
  margin-top: 35px;
  margin-bottom: 15px; }
  .twitter__heading--grey {
    color: #909496; }

.twitter__paragraph {
  line-height: 1.5;
  font-style: italic;
  font-size: 22px;
  margin-bottom: 95px; }

.swipe-link:hover {
  color: red; }

.active {
  background-color: #282f35; }

.swipe__disc {
  border: 1px solid #282f35;
  height: 15px;
  width: 15px;
  margin-right: 10px;
  border-radius: 50%;
  display: inline-block; }
  .swipe__disc:hover {
    opacity: 0.5; }

@media only screen and (max-width: 767px) {
  .twitter__paragraph {
    margin-bottom: 60px; } }

@media only screen and (max-width: 319px) {
  .twitter {
    padding-top: 50px;
    padding-bottom: 50px; }
  .twitter__heading {
    margin-bottom: 10px; }
  .twitter__heading--grey {
    display: block; }
  .twitter__paragraph {
    line-height: 1.6;
    font-size: 18px;
    margin-bottom: 40px; } }

.shop {
  width: 100%; }
  .shop::before, .shop::after {
    content: '';
    display: table; }
  .shop::after {
    clear: both; }

.left-div {
  width: 50%;
  font-size: 0;
  float: left; }
  .left-div::before, .left-div::after {
    content: '';
    display: table; }
  .left-div::after {
    clear: both; }

.first-section {
  width: 66.66%;
  float: left; }
  .first-section::before, .first-section::after {
    content: '';
    display: table; }
  .first-section::after {
    clear: both; }

.second-section {
  width: 33.33%;
  float: left; }
  .second-section::before, .second-section::after {
    content: '';
    display: table; }
  .second-section::after {
    clear: both; }

.div-1,
.div-2 {
  width: 50%;
  float: left; }

.div-5,
.div-7,
.div-8 {
  width: 33.33%;
  float: left; }

.div-7,
.div-8 {
  width: 33.33%;
  float: left; }

.div-4 {
  width: 100%; }

.div-3 {
  width: 100%;
  float: left; }

.div-6 {
  width: 66.66%;
  float: left; }

.img-1,
.img-2,
.img-7,
.img-8 {
  padding-bottom: 100%;
  background-size: cover;
  background-repeat: no-repeat; }

.img-3,
.img-6 {
  padding-bottom: 50%;
  background-size: cover;
  background-repeat: no-repeat; }

.img-4,
.img-5 {
  padding-bottom: 200%;
  background-size: cover;
  background-repeat: no-repeat; }

.right-div {
  width: 50%;
  float: left;
  font-size: 0; }
  .right-div::before, .right-div::after {
    content: '';
    display: table; }
  .right-div::after {
    clear: both; }

.discover-the-shop {
  background-color: #282f35;
  text-align: center;
  padding-top: 75px;
  padding-bottom: 75px;
  clear: both; }

.discover-btn {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  height: 50px;
  width: 300px;
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: #282f35; }

.hover {
  position: relative; }
  .hover::after {
    opacity: 0.3;
    content: '';
    background-color: #64c29e;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }

.shop-now-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.icon-bicycle {
  font-size: 40px;
  color: #ffffff;
  display: block; }

.shop-now {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  display: block; }

@media only screen and (max-width: 767px) {
  .left-div,
  .right-div {
    width: 100%; } }

@media only screen and (max-width: 319px) {
  .div-1,
  .div-2,
  .div-4,
  .div-5,
  .div-7,
  .div-8 {
    display: none; }
  .div-3,
  .div-6 {
    width: 100%; }
  .discover-the-shop {
    padding-left: 20px;
    padding-right: 20px; }
  .discover-btn {
    width: 80%; } }

.newsletter {
  text-align: center;
  padding-top: 110px;
  padding-bottom: 110px;
  color: #909496;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-style: italic; }

.stay-on-saddle {
  display: block;
  margin-top: 35px; }

.send-mail {
  margin-top: 35px; }

.email-input {
  width: 400px;
  height: 65px;
  margin-right: 5px;
  padding-left: 25px;
  font-size: 16px;
  border-color: #909496; }

.btn-go {
  background-color: #64c29e;
  color: #ffffff;
  border: none;
  width: 125px;
  height: 65px;
  font-size: 24px; }

.newsletter-logo {
  display: inline-block; }

@media only screen and (max-width: 767px) {
  .newsletter {
    padding-top: 110px;
    padding-bottom: 100px;
    text-align: center; }
  .send-mail {
    width: 80%;
    margin: 0 auto;
    margin-top: 40px; }
  .email-input {
    width: 70%;
    margin-bottom: 10px; }
  .btn-go {
    width: 20%; } }

@media only screen and (max-width: 319px) {
  .newsletter {
    padding-top: 25px;
    padding-bottom: 50px; }
  .send-mail {
    width: 100%;
    margin-top: 15px; }
  .email-input {
    width: 100%;
    margin-bottom: 10px; }
  .btn-go {
    width: 100%; } }

.footer {
  margin-top: 20px;
  padding-top: 80px;
  padding-bottom: 90px;
  font-family: "Myriad-Pro", sans-serif; }

.col {
  width: 32%;
  display: inline-block; }

.col--second {
  text-align: center; }

.social-icon {
  font-size: 35px; }

.icon-twitter1 {
  color: #78cdf0; }

.icon-facebook {
  margin-left: 10px;
  margin-right: 10px;
  color: #537bbd; }

.icon-pinterest {
  color: #eb5755; }

.col--third {
  vertical-align: middle; }

.credits {
  text-align: right; }

.yebo-logo {
  display: inline-block; }

.heading,
.address,
.info {
  display: block; }

@media only screen and (max-width: 767px) {
  .footer {
    padding: 0; }
  .col--first {
    margin-top: 90px; }
  .col--second {
    vertical-align: top;
    margin-top: 20px;
    width: 32.5%; }
  .col--third {
    margin-top: 90px; } }

@media only screen and (max-width: 589px) {
  .footer .wrapper {
    display: flex;
    flex-direction: column; }
  .col {
    display: block;
    width: 100%;
    margin: 20px auto;
    text-align: center; }
  .col--first {
    order: 2; }
  .col--second {
    order: 1; }
  .credits {
    text-align: center; }
  .col--third {
    order: 3;
    margin-top: -10px;
    text-align: center; } }

@media only screen and (max-width: 319px) {
  .footer {
    margin-top: 10px; } }
