.footer {
    margin-top: 20px;
    padding-top: 80px;
    padding-bottom: 90px;
    font-family: $myriad-pro;
}

.col {
    width: 32%;
    display: inline-block;
}

.col--second {
    text-align: center;
}

.social-icon {
    font-size: 35px;
}

.icon-twitter1 {
    color: $spray;
}

.icon-facebook {
    margin-left: 10px;
    margin-right: 10px;
    color: $steel-blue;
}

.icon-pinterest {
    color: $burnt-sienna;
}

.col--third {
    vertical-align: middle;
}

.credits {
    text-align: right;
}

.yebo-logo {
    display: inline-block;
}

.heading,
.address,
.info {
    display: block;
}



@include respond-below(md) {}




@include respond-below(sm) {
    .footer {
        padding: 0;
    }

    .col--first {
        margin-top: 90px;
    }

    .col--second {
        vertical-align: top;
        margin-top: 20px;
        width: 32.5%;
    }

    .col--third {
        margin-top: 90px;
    }
}




@include respond-below(ss) {
    .footer {
        .wrapper {
            display: flex;
            flex-direction: column;
        }
    }

    .col {
        display: block;
        width: 100%;
        margin: 20px auto;
        text-align: center;
    }

    .col--first {
        order: 2;
    }

    .col--second {
        order: 1;
    }

    .credits {
        text-align: center;
    }

    .col--third {
        order: 3;
        margin-top: -10px;
        text-align: center;
    }
}



@include respond-below(xs) {
   
}




@include respond-below(xs) {
    .footer {
        margin-top: 10px;
    }
}