.header {
    position: absolute;
    width: 100%;
    top: 10px;
    z-index: 1;
    text-align: center;
}


.nav {
    display: inline-block;
    padding-top: 55px;
    padding-bottom: 55px;
    @include clearfix;
}

.nav__list {
    @include clearfix;
}

.nav__item {
    float: left;

    &:not(:nth-child(2)):not(:nth-child(3)):not(:last-child)::after {
        content: ".";
        padding-left: 30px;
        padding-right: 30px;
    }
}

.nav__logo {
    margin: 0 60px;
}

.logo__img {
    margin-top: -30px;
}

.nav__list {
    list-style: none;
}

.nav__link {
    font-family: $lato;
    font-weight: 700;
    text-decoration: none;
    color: $scarpa-flow;
    cursor: pointer;

    &:hover {
        opacity: 0.5;
    }

    &:active {
        color: darken($scarpa-flow, $amount: 50);
    }
}




@include respond-below(md) {

    .nav__link {
        font-size: 15px;
    }

    .nav__logo {
        margin: 0 30px;
    }

    .nav__item {
        &:not(:nth-child(2)):not(:nth-child(3)):not(:last-child)::after {
            content: ".";
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}




@include respond-below(sm) {}




@include respond-below(ss) {
    .nav__item {
        &:not(:nth-child(2)):not(:nth-child(3)):not(:last-child)::after {
            content: "";
            padding: 0;
        }
    }

    .nav__item:not(:nth-child(3)){
        display: none;
    }
    

    .logo__img {
        position: absolute;
        top: 30px;
        left: 10px;
        width: 80px;
    }

    .swing-in-top-fwd {
        -webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    }

    
    
    .show-menu {
        width: 100%;
        position: absolute;
        top: -10px;
        left: 0;
        height: 100vh;
        display: block;
        text-align: center;
        background-color: $white-solid;
        z-index: 50;

        .nav__logo {
            display: none;
        }

        .nav__item:not(:nth-child(3)){
            display: block;
            width: 100%;
            margin-bottom: 20px;
        }
    }

    .header__hamburger {
        display: block;
        float: right;
        border: none;
        margin-top: 20px;
        position: relative;
        outline:none;
        background-color: transparent;
    }

    .hamburger__line {
        display: block;
        width: 40px;
        height: 2px;
        margin-bottom: 4px;
        background-color: $silver-tree;
    }

    .show-btn {
        
        .hamburger__line:nth-child(2){
            display: none;
        }

        .hamburger__line:first-child{
            transform: rotate(135deg);
            position: absolute;
            top: 10px;
            right: 10px;
        }
        .hamburger__line:last-child{
            transform: rotate(-135deg);
            position: absolute;
            top: 10px;
            right: 10px;
        }
        z-index: 100;
    }
}






@include respond-below(xs) {
    .header {
        .wrapper {
            position: relative;
        }
    }

    .nav__item {
        @include clearfix;
        display: block;
        margin-bottom: 15px;
        width: 100%;

        &:not(:nth-child(2)):not(:nth-child(3)):not(:last-child)::after {
            content: "";
        }
    }

    .nav {
        text-align: center;
    }


    .logo__img {
        position: absolute;
        top: 33px;
        left: 20px;
        width: 50px;
    }


}