.hero {
    position: relative;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 42%;
}


@include respond-below(sm){
    .hero {
        padding-bottom: 80.9%;
        background-size: cover;
    }
    
}



@include respond-below(ss){
    .hero {
        position: relative;
    }
    
}




@include respond-below(xs){
    .hero {
        background-size: cover;
    }
    
}

