.newsletter{
    text-align: center;
    padding-top: 110px;
    padding-bottom: 110px;
    color: $oslo-grey;
    font-family: $lato;
    font-size: 24px;
    font-style: italic;
}

.stay-on-saddle{
    display: block;
    margin-top: 35px;
}

.send-mail {
    margin-top: 35px;
}

.email-input {
    width: 400px;
    height:65px;
    margin-right: 5px;
    padding-left: 25px;
    font-size: 16px;
    border-color: $oslo-grey;
}

.btn-go {
    background-color: $silver-tree;
    color: $white-solid;
    border: none;
    width: 125px;
    height: 65px;
    font-size: 24px;
}


.newsletter-logo {
    display: inline-block;
}









@include respond-below(sm) {
    .newsletter {
        padding-top: 110px;
        padding-bottom: 100px;
        text-align:center;
    }

    .send-mail {
        width: 80%;
        margin: 0 auto;
        margin-top: 40px;
    }

    .email-input {
        width: 70%;
        margin-bottom: 10px;
    }

    .btn-go {
        width: 20%;
    }
}



@include respond-below(xs) {
    .newsletter {
        padding-top: 25px;
        padding-bottom: 50px;
    }

    .send-mail {
        width: 100%;
        margin-top: 15px;
    }

    .email-input {
        width: 100%;
        margin-bottom: 10px;
    }

    .btn-go {
        width: 100%;
    }
}