.shop {
    width: 100%;
    @include clearfix;
}

.left-div {
    width: 50%;
    font-size: 0;
    float: left;
    @include clearfix;
}

.first-section {
    width: 66.66%;
    float: left;
    @include clearfix;
}

.second-section {
    width: 33.33%;
    float: left;
    @include clearfix;
}

.div-1,
.div-2 {
    width: 50%;
    float: left;
}

.div-5,
.div-7,
.div-8 {
    width: 33.33%;
    float: left;
}

.div-7,
.div-8 {
    width: 33.33%;
    float: left;
}

.div-4 {
    width: 100%;
}

.div-3 {
    width: 100%;
    float: left;
}

.div-6 {
    width: 66.66%;
    float: left;
}

.img-1,
.img-2,
.img-7,
.img-8 {
    padding-bottom: 100%;
    @include bg;
}

.img-3,
.img-6 {
    padding-bottom: 50%;
    @include bg;
}

.img-4,
.img-5 {
    padding-bottom: 200%;
    @include bg;
}


.right-div {
    width: 50%;
    float: left;
    font-size: 0;
    @include clearfix;
}


.discover-the-shop {
    background-color: $outer-space;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 75px;
    clear: both;
}

.discover-btn {
    font-family: $lato;
    font-size: 14px;
    letter-spacing: 2px;
    height: 50px;
    width: 300px;
    border: 1px solid $white-solid;
    color: $white-solid;
    background-color: $outer-space;
}



.hover {
    position: relative;
    &::after {
        opacity: 0.3;
        content: '';
        background-color: $silver-tree;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

.shop-now-div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.icon-bicycle {
    font-size: 40px;
    color: $white-solid;
    display: block;
}

.shop-now {
    color: $white-solid;
    font-family: $lato;
    font-size: 20px;
    display: block;
}








@include respond-below(sm) {

    .left-div,
    .right-div {
        width: 100%;
    }
}




@include respond-below(xs) {

    .div-1,
    .div-2,
    .div-4,
    .div-5,
    .div-7,
    .div-8 {
        display: none;
    }

    .div-3,
    .div-6 {
        width: 100%;
    }

    .discover-the-shop {
        padding-left: 20px;
        padding-right: 20px;
    }

    .discover-btn {
        width: 80%;
    }
}