.text-block{
    font-family: $lato;
    text-align: center;
    padding-top: 115px;
    padding-bottom: 135px;
}

.icon--center {
    margin-bottom: 25px;
    width: 10%;
    display: inline-block;
}

.text-block__heading{
    display: block;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 3px;
    margin-bottom: 30px;
}

.text-block__paragraph{
    line-height: 2;
    padding-left: 30px;
    padding-right: 30px;
}








@include respond-below(sm) {
    .text-block {
        padding-bottom: 170px;
        padding-bottom: 140px;
    }
}



@include respond-below(xs) {
    .text-block {
        padding-top: 25px;
        padding-bottom: 15px;
    }

    .text-block__heading {
        line-height: 1.4;
        margin-bottom: 20px;
    }

    .text-block__paragraph {
        line-height: 1.5;
    }
}