.tiles {
    width: 100%;
    @include clearfix;
}

.row {
    @include clearfix;
    display: flex;
}

.bigger-div {
    flex: 2;
    position: relative;
}

.smaller-div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article1 {
    @include article;
    width: 100%;
}

.article2 {
    @include article;
    height: 100%;
}

.tile1-div1 {
    width: 100%;
    float: left;
}

.tile1__img1, .tile2__img1 {
    padding-bottom: 56.23%;
    @include bg;
    position: relative;
}

.tile1-div2 {
    width: 100%;
}

.tile1__img2 {
    padding-bottom: 37.52%;
    @include bg;
    
}

.tile1__logo, .tile2__logo, .tile3__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tile2-div1 {
    width: 100%;
    float: left;
}


.tile3 {
    width: 33.33%;
    float: left;

    &:nth-child(2){
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.tile3__img1, .tile3__img3 {
    padding-bottom: 112.36%;
    @include bg;
    position: relative;
}





@include respond-below(sm) {
    .tiles {
        height: 1800px;
    } 

    .tile1-div1, .tile2-div1 {
        width: 50%;
    }
    
    .article1{
        width: 50%;
    }

    .tile1__img1, .tile2__img1 {
        padding-bottom: 156.25%;
    }
}





@include respond-below(xs) {
    .tiles {
        height: 1870px;
    }

    
}