.twitter {
    padding-top: 125px;
    padding-bottom: 70px;
    text-align: center;
    font-family: $lato;
}

.icon-twitter {
    color: $spray;
    font-size: 35px;
}

.twitter__heading{
    font-size: 20px;
    display: block;
    margin-top: 35px;
    margin-bottom: 15px;

    &--grey {
        color: $oslo-grey;
    }
}

.twitter__paragraph {
    line-height: 1.5;
    font-style: italic;
    font-size: 22px;
    margin-bottom: 95px;
}


.swipe-link {
    &:hover {
        color: red;
    }
}

.active{
    background-color:$outer-space ;
}

.swipe__disc {
    border: 1px solid $outer-space;
    height: 15px;
    width: 15px;
    margin-right: 10px;
    border-radius: 50%;
    display: inline-block;

    &:hover {
        opacity: 0.5;
    }
}







@include respond-below(sm) {
    .twitter__paragraph {
        margin-bottom: 60px;
    } 
}



@include respond-below(xs) {
    .twitter {
        padding-top: 50px;
        padding-bottom: 50px;
    } 

    .twitter__heading {
        margin-bottom: 10px;
    }

    .twitter__heading--grey {
        display: block;
    }

    .twitter__paragraph {
        line-height: 1.6;
        font-size: 18px;
        margin-bottom: 40px;
    } 
}


  
  

  