
.wrapper{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}


@include respond-below(sm){
    .wrapper{
        max-width: 768px;
        height: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
}


@include respond-below(ss){
    .wrapper{
        max-width: 668px;
        padding-left: 30px;
        padding-right: 30px;
    }

}




@include respond-below(xs){
    .wrapper{
        max-width: 320px;
        padding-left: 20px;
        padding-right: 20px;
    }

}


.link {
    text-decoration: none;
    color: $scarpa-flow;
    cursor: pointer;
    
    &:hover {
        opacity: 0.5;
    }
}