@font-face {
    font-family: 'iconfont';
   
    src: url('../fonts/iconfont.eot?1598846779179');
    src: url('../fonts/iconfont.eot?#iefix-1598846779179') format('embedded-opentype'),
     url('../fonts/iconfont.woff2?1598846779179') format('woff2'),
     url('../fonts/iconfont.woff?1598846779179') format('woff'),
     url('../fonts/iconfont.ttf?1598846779179') format('truetype');
    font-weight: normal;
    font-style: normal;
   }
   

   [class^='icon-']:before,
   [class*=' icon-']:before {
    font-family: 'iconfont';
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    speak-as: none;
    text-decoration: inherit;
    font-size: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   }
   
   /*
   Glyphs list
   */

.icon-bicycle:before {
content: '\ea01';
}

.icon-dry-clean:before {
content: '\ea02';
}

.icon-empty:before {
content: '\ea03';
}

.icon-facebook:before {
content: '\ea04';
}

.icon-pinterest:before {
content: '\ea05';
}

.icon-twitter:before {
content: '\ea06';
}

.icon-twitter1:before {
content: '\ea07';
}

    