@font-face {
    font-family: 'Lato';
    src:    url('../../fonts/Lato-Regular.ttf') format('ttf'),
            url('../../fonts/Lato-Bold.ttf') format('ttf'),
            url('../../fonts/Lato-Italic.ttf') format('ttf'),
            url('../../fonts/Lato-Light.ttf') format('ttf'),;
            font-weight: 400;
            font-style: normal;
}


@font-face {
    font-family: 'Myriad-Pro';
    src:    url('../../fonts/MyriadPro-Regular.woff') format('woff'),
            url('../../fonts/MyriadPro-Regular.woff2') format('woff2');
            font-weight: 400;
            font-style: normal;
}
