$breakpoints: (xs: 320px,
  ss: 590px,
  sm: 768px,
  md: 992px,
  lg: 1200px);


@mixin respond-below($breakpoint) {

  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {

    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media only screen and (max-width: ($breakpoint-value - 1)) {
      @content;
    }

    // If the breakpoint doesn't exist in the map.
  }

  @else {

    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}



@mixin clearfix {

  &::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}


@mixin bg {
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin article {
    font-family: $lato;
    text-align: center;
    float: left;
    height: inherit;
    padding-top: 65px;
}