//fonts
$lato: 'Lato', sans-serif;
$myriad-pro: 'Myriad-Pro', sans-serif;


//COLORS
$scarpa-flow: #4d4959;

$outer-space: #282f35;

$oslo-grey:#909496;

$silver-tree: #64c29e; 

$spray:#78cdf0;

$steel-blue:#537bbd;

$burnt-sienna:#eb5755; 

$white-solid: #ffffff;

